name: Build Pygame Executable

on:
  push:
    branches: [ "main" ] # Runs when you push to your main branch

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11' 

    - name: Install dependencies
      run: |
        pip install pygame pyinstaller

    - name: Run PyInstaller
      run: |
        pyinstaller --onefile --windowed --add-data="nimages;nimages" main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: windows-build
        path: dist/main.exe
